.wrapper {
	padding: 2px 0px;
	box-sizing: border-box;
	display: block;
	position: absolute;
	left: 60px;
}

.event {
	box-sizing: border-box;
	padding: 10px 40px 10px 20px;
	height: 46px;
	display: flex;
	align-items: center;
	border-radius: 5px;
	background: lightgray;
}

.green {
	top: 0px;
}

.yellow {
	top: 50px;
}

.icon {
	width: 30px;
	height: 30px;
	display: flex;
	align-items: center;
	font-size: 1.5em;
	justify-content: center;
	background: rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	margin-right: 30px;
}

.description {
	max-width: 300px;
}

.title {
	font-weight: bold;
	padding-bottom: 0px;
	display: block;
}
