.wrapper {
	display: block;
	padding: 2px 0px;
	box-sizing: border-box;
	min-height: 33px;
}

.event {
	display: flex;
	align-items: center;
	border-radius: 5px;
	background: lightgray;
	color: black;
	height: 100%;
	font-size: 0.8em;
	line-height: 1.2em;
	box-sizing: border-box;
	padding: 0px 30px;
}

.icon {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2em;
	margin-right: 20px;
}

.description {
	max-width: 300px;
	word-break: break-all;
}

.label {
	font-weight: bold;
	padding-bottom: 0px;
	display: block;
}

.error {
	background: red;
	color: white;
	text-align: center;
	padding: 10px;
	border-radius: 5px;
}
