.toggle {
	position: absolute;
	bottom: 30px;
	left: -125px;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	font-size: 3em;
	background: black;
	color: white;
	cursor: pointer;
	transition: transform ease 0.5s;
	border: none;
}

.form {
	width: 400px;
	padding: 20px 50px 30px;
	box-sizing: border-box;
	position: fixed;
	bottom: 0px;
	right: 0px;
	background: black;
	color: white;
	border-radius: 5px 0px 0px 0px;
	line-height: 1.5em;
	transition: transform ease 0.5s;
}

.form label {
	width: 100%;
	display: block;
	text-align: left;
	padding: 10px 0px;
	box-sizing: border-box;
}

.form input[type='text'] {
	padding: 10px;
	box-sizing: border-box;
	width: 100%;
	border-radius: 5px;
	font-size: 1em;
}

.form input[type='button'] {
	margin-top: 30px;
	padding: 10px 20px;
	border-radius: 5px;
	background: white;
	border: 1px solid black;
	cursor: pointer;
}
.form input[type='button']:hover {
	border: 1px solid white;
}

/* COLORS */

.colors {
	display: flex;
	overflow: hidden;
}

.colorBlock {
	width: 25%;
	padding-bottom: 10%;
	border: 2px solid black;
}

.colorBlock:first-child {
	border-radius: 5px 0px 0px 5px;
}

.colorBlock:last-child {
	border-radius: 0px 5px 5px 0px;
}

/* TIME */

.time {
	margin-top: 10px;
}

.timeSelection {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 50px;
	position: relative;
	border-radius: 5px;
	overflow: hidden;
}

.timeSelection p {
	background: white;
	color: black;
	font-size: 1.5em;
	padding: 0px 20px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgb(242, 242, 242);
}

.timeSelection select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

	display: block;
	width: 100%;
	height: 50px;
	margin: 5px 0px;
	padding: 0px 20px;

	-ms-word-break: normal;
	word-break: normal;

	background-image: url('../public/down_arrow.svg');
	background-position: right 20% top 50%;
	background-size: 10px;
	background-repeat: no-repeat;
	background-blend-mode: multiply;
	border: none;
}

.timeSelection select:last-child {
	background-color: rgb(242, 242, 242);
}
